

/* Which top menu bar has been selected */
.dkActive {

  color: #fff;
  background-color: #E3E3E3;


}


/* Define the attributes of the main page's body */
.mainContent {

  margin: 25px;
  font-size: 14px;

}